.limbo-tables .table-editor .editor .table__row--wrapper .buttons,
.limbo-tables .table-editor .editor .table__row--wrapper .buttons .btn {
  margin-left: 5px;
}
.limbo-tables .table-editor {
  border: 1px solid #d8d7d9;
}
.limbo-tables .table-editor .umb-editor-container {
  height: calc(100% - 153px);
}
.limbo-tables .table-editor .editor {
  min-height: calc(100% - 60px);
  display: flex;
  flex-direction: column;
}
.limbo-tables .table-editor .editor .toolbar {
  border-bottom: 1px solid #b3afbd;
  padding: 20px;
  display: flex;
  background-color: #fff;
}
.limbo-tables .table-editor .editor .toolbar__buttons.is-fullwidth {
  flex: 1;
}
.limbo-tables .table-editor .editor .table {
  border: none;
  flex: 1;
  padding: 20px;
  width: auto;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin-bottom: 0;
}
.limbo-tables .table-editor .editor .table-element.is-odd-even .table__row--wrapper:nth-child(even) .table__column,
.limbo-tables .table-editor .editor .table-element.is-odd-even-reverse .table__row--wrapper:nth-child(odd) .table__column {
  background-color: #add8e6 !important;
  color: #343434 !important;
}
.limbo-tables .table-editor .editor .table .controls {
  display: flex;
  margin-bottom: 20px;
  margin-left: 0;
}
.limbo-tables .table-editor .editor .table .controls__control {
  flex: 1;
  display: flex;
  justify-content: center;
}
.limbo-tables .table-editor .editor .table .controls__control.no-opacity {
  opacity: 0;
  flex: 0;
}
.limbo-tables .table-editor .editor .table .controls__control .btn {
  margin-right: 5px;
}
.limbo-tables .table-editor .editor .table__row {
  display: flex;
  flex: 1;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.limbo-tables .table-editor .editor .table__row.is-primary .table__column {
  background-color: #add8e6;
  color: #343434;
}
.limbo-tables .table-editor .editor .table__row.is-secondary .table__column {
  background-color: #ffb6c1;
  color: #343434;
}
.limbo-tables .table-editor .editor .table__row.is-tertiary .table__column {
  background-color: #343434;
  color: #fff;
}
.limbo-tables .table-editor .editor .table__row.is-odd-even:nth-child(even) {
  background-color: #add8e6 !important;
  color: #343434 !important;
}
.limbo-tables .table-editor .editor .table__row--wrapper {
  display: flex;
  margin-bottom: 20px;
}
.limbo-tables .table-editor .editor .table__row--wrapper:last-child {
  margin-bottom: 0;
}
.limbo-tables .table-editor .editor .table__row--wrapper .buttons {
  display: flex;
  align-items: center;
}
.limbo-tables .table-editor .editor .table__row--wrapper .buttons:last-child {
  margin-bottom: 0;
}
.limbo-tables .table-editor .editor .table__column {
  border-right: 1px solid #b3afbd;
  flex: 1;
  cursor: pointer;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.limbo-tables .table-editor .editor .table__column.is-primary {
  background-color: #add8e6 !important;
  color: #343434 !important;
}
.limbo-tables .table-editor .editor .table__column.is-secondary {
  background-color: #ffb6c1 !important;
  color: #343434 !important;
}
.limbo-tables .table-editor .editor .table__column.is-tertiary {
  background-color: #343434 !important;
  color: #fff !important;
}
.limbo-tables .table-editor .editor .table__column:hover {
  background-color: #f5f5f5;
}
.limbo-tables .table-editor .editor .table__column:last-child {
  border: none;
}
.limbo-tables .table-editor .editor .table__column--placeholder {
  color: #343434 !important;
  width: 100%;
  text-align: center;
  margin: 4px;
}
.limbo-tables .table-editor .editor .table__column--placeholder div {
  padding: 8px;
  border: 1px dashed #b3afbd;
  background-color: #f5f5f5;
}
.limbo-tables .table-editor .editor .table__column--placeholder div p {
  margin: 1em;
}
.limbo-tables .table-editor .editor .table__column--content {
  padding: 8px;
  overflow: hidden;
}
.limbo-tables .table-editor .editor .table__column--content p {
  margin: 1em;
}
.limbo-tables .inputtext {
  width: 100%;
}
.limbo-tables .textarea {
  width: 100%;
}
.limbo-tables .button-list {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
}
.limbo-tables .button-list > button {
  appearance: none;
  display: inline-block;
  -webkit-appearance: none;
  border: 0;
  font-weight: bold;
  color: #1A2650;
  line-height: 1;
  background-color: rgba(216, 215, 217, 0.5);
  font-size: 13px;
  margin: 0;
  padding: 10px 20px;
  border-radius: 4px;
  transition: all 0.2s ease;
  position: relative;
  cursor: pointer;
}
.limbo-tables .button-list > button:hover {
  background-color: rgba(216, 215, 217, 0.3);
  color: #2152a3;
}
.limbo-tables .button-list > button.--active {
  background-color: #F5C1BC;
  color: #1A2650;
}
.limbo-tables-separator {
  border-bottom: 2px solid #F4C1BC;
  margin: 0;
  padding: 0;
  margin-bottom: -21px;
  z-index: 2;
  position: relative;
}
.limbo-tables-separator-title {
  font-size: 13px;
  text-transform: uppercase;
}
.limbo-tables-separator-description {
  font-size: 11px;
  color: #333;
  margin-top: -5px;
}
umb-property + umb-property .limbo-tables-separator {
  background: #fff;
  margin-top: -21px;
  padding-top: 41px;
}